/* Fonts - Importing two fonts from Google Fonts - Finger Paint and Audiowide
Finger Paint: font-family: 'Finger Paint', cursive;
Audiowide: font-family: 'Audiowide', cursive;
*/
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Finger+Paint&display=swap');

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Site Wide Settings */
body {
  font-family: Arial, sans-serif;
  background-image: url(../images/pinkBG.jpg);
  position: relative;
  backdrop-filter: blur(10px);
}

/* Container Layouts */
.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  height: 100vh; /* Ensure the container takes the full viewport height */
  padding: 20px;
  position: relative;
  
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px; /* Add some margin for spacing */
  color: #e57373;
  font-size: 4em;
  font-family: "Audiowide", cursive;
  z-index: 1; /* Make sure it's above other content */
}

.score-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}

.score-draw,
.score-o,
.score-x {
  color: #e57373;
  font-size: 2.5em;
  font-family: "Audiowide", cursive;
}


/* Board, Cell Styling and Layout */
.board {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px 0px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border-color: white;
  border-style: solid;
  font-size: 5em;
  color: #e57373;
  font-family: 'Finger Paint', cursive;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  width: 100px;
  height: 100px;
  padding: 20px;
  /* Add individual box shadows to each cell */
  box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.5); /* Adjust shadow values */
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); /* Adjust shadow values */
}

.cell:hover {
  background-color: lightcoral;
}

/* Style for Start Button */
.start-button {
  color: #e57373;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid #e57373;
  margin-top: 2em;
  padding: 5px 5px;
  font-size: 1.5em;
  border-radius: 15px;
  font-family: "Audiowide", cursive;
}

.start-button:hover {
  background-color: #e57373;
  color: #fff;
}

.button-disabled {
  color: grey;
  background-color: #585858;
  cursor: not-allowed;
}

.button-disabled:hover {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Style for Reset Button */
.reset-button {
  color: #e57373;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid #e57373;
  padding: 5px 5px;
  font-size: 1.5em;
  border-radius: 15px;
  font-family: "Audiowide", cursive;
}

.reset-button:hover {
  background-color: #e57373;
  color: #fff;
}

/* Style for Game Message */
.game-message {
  color: #e57373;
  padding: 10px;
  font-size: 2.5em;
  align-self: center;
  font-family: "Audiowide", cursive;
}

/* Consolidated Media Queries */
@media (max-width: 768px) {
  /* Adjust logo size */
  .logo {
    font-size: 3em;
  }

  /* Adjust scores font size */
  .score-draw,
  .score-o,
  .score-x {
    font-size: 2em;
  }

  /* Adjust cells font size */
  .cell {
    font-size: 4em;
  }

  /* Adjust buttons font size */
  .start-button,
  .reset-button {
    font-size: 1.2em;
  }

  /* Adjust game message font size */
  .game-message {
    font-size: 1.8em;
  }
}

@media (max-width: 576px) {
  /* Adjust logo size */
  .logo {
    font-size: 2.5em;
    justify-content: center;
  }

  /* Adjust scores font size */
  .score-draw,
  .score-o,
  .score-x {
    font-size: 1.5em;
  }

  /* Adjust cells font size */
  .cell {
    font-size: 3em;
  }

  /* Adjust buttons font size */
  .start-button,
  .reset-button {
    font-size: 1em;
  }

  /* Adjust game message font size */
  .game-message {
    font-size: 1.5em;
  }

  /* Ensure that score container items stay in a single row */
  .score-container {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
}


/* Resources used
https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Grids
https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Flexbox
https://flexboxfroggy.com/
https://developer.mozilla.org/en-US/docs/Web/CSS/backdrop-filter
https://developer.mozilla.org/en-US/docs/Web/CSS/opacity
https://developer.mozilla.org/en-US/docs/Web/CSS/color_value#rgba
https://getbootstrap.com/docs/5.3/getting-started/introduction/
*/
